*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 280px;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-primary-white);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  fill: currentColor;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button, 
a {
  z-index: 10;
}
